# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# angular
.angular/*

# Node
/node_modules
/admin-application/node_modules
admin-application/node_modules
/customer-application/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
admin-application/.vscode/*
customer-application/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

admin-application/!.vscode/settings.json
admin-application/!.vscode/tasks.json
admin-application/!.vscode/launch.json
admin-application/!.vscode/extensions.json
admin-application/!.vscode/mcp.json
admin-application/.history/*

# Miscellaneous
admin-application/.angular/cache
admin-application/.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db
