// customer-form.scss
.animate-slide-in {
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

// Custom toggle switch styles
.toggle-checkbox:checked {
    right: 0;
    border-color: #4f46e5;
}

.toggle-checkbox:checked+.toggle-label {
    background-color: #4f46e5;
}